 html,
 body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 
 #pano {
   height: 100%;
   width: 100%;
 }
 
 #map{
    position: absolute;
    z-index: 4;
    right: 5%;
    bottom: 10%;
    height: 25%;
    width: 25%;
 }
 
 #map:hover{
    animation-name: expandMap;
    animation-duration: .3s;
    animation-fill-mode: forwards;
 }
 
 @keyframes expandMap{
    from{
        height: 25%;
        width: 25%; 
    }
    to{
        z-index: 4;
        border: 8px solid #13aa52;
        border-radius: 10px;
        height: 80%;
        width: 90%;
    }
 }
 
.lockIn{
    position: absolute;
    right: 0%;
    bottom: 35%;
    z-index: 3;
    width: 5%;
    height: 30%;
    background-color: white;
    border: 3px solid grey;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    color: grey;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    writing-mode: vertical-rl;
}

.lockInActive {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}

.gm-style .gm-style-cc .gm-iv-address{
  display: none;
}
